/bin
/build
/lib
WesterosBlocks-*.jar
.classpath
/eclipse
/.gradle
/.settings
/run
.DS_Store
/*_Client.launch
/*_Server.launch
/.project
/bedrock_build/WesterosBP/
/bedrock_build/WesterosRP/
/bedrock_build/*.mcpack
/bedrock_build/*.mcaddon
/bedrock_build/zip
/bedrock_build/node_modules/
/bedrock_build/dist/
bedrock_build/blocks_ids.csv
bedrock_build/blocks_names.csv
bedrock_build/blocks_states.csv
bedrock_build/block.json
bedrock_build/BlockID.json
