/bin
/build
/lib
WesterosBlocks-*.jar
.classpath
/eclipse
/.gradle
/.settings
/run
.DS_Store
/*_Client.launch
/*_Server.launch
/Users/
.idea
/.apt_generated/
/.apt_generated_tests/
/.project
/.factorypath
